<div class="col-md-3 text-center animate-box">
  <div class="groom-men ">
    <img src="{{this.photo}}" class="img-responsive groom-image" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
    <h3>{{this.name}}</h3>
  </div>
</div>