<div id="fh5co-wrapper">
  <div id="fh5co-page">

    <div class="fh5co-hero" data-section="home">
      <div class="fh5co-overlay"></div>
      <div class="fh5co-cover text-center">
        <div class="display-t">
          <div class="display-tc">
            <div class="container">
              <div class="col-md-10 col-md-offset-1">
                <div class="animate-box">
                  <h1>Kel & Gui</h1>
                  <h2>Onde &amp; Quando</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <header id="fh5co-header-section" class="sticky-banner">
      <div class="container">
        <div class="nav-header">
          <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
          <h1 id="fh5co-logo"><a href="/index">Kel & Gui</a></h1>
          <!-- START #fh5co-menu-wrap -->
          <nav id="fh5co-menu-wrap" role="navigation">
            <ul class="sf-menu" id="fh5co-primary-menu">
              <li><a href="/index">Home</a></li>
              <li class="active"><a href="/when-where">Onde &amp; Quando</a></li>
              <li><a href="/gifts">Lista de Presentes</a></li>
              <li><a href="/RSVP">RSVP</a></li>
              <li><a href="/gallery">Fotos</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <!-- end:header-top -->


    <div id="fh5co-when-where" class="fh5co-section-gray">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box row-images">
            <h2>Hoteis Recomendados:</h2>
          </div>
        </div>
        <div class="row row-image row-bottom-padded-md2">
          <div class="row row-card-image">
            <div class="col-md-8 text-center animate-box">
              <div class="wedding-events">
                <div class="desc">
                  <h3>Higienopolis Hotel e Suites</h3>
                  <p>Descrição &mdash; Apart Hotel localizado na rua da cerimonia de casamento, aproximadamente 1 km de
                    distancia;
                  </p>
                  <p>Serviços &mdash; Com café da manhã, Wifi incluso, Ar em todos os Quartos, Não tem Shampoo e etc...</p>
                  <p>Preço &mdash; $$$</p>
                  <p>Endereço &mdash; Av. Angelica 310</p>
                  <p><a href="https://bit.ly/3cZ6U35">Link para Reserva</a></p>
                </div>
                <div class="desc">
                  <h3>Ibis Budget Paulista</h3>
                  <p>Descrição &mdash; Hotel com preços variaveis de acordo com a procura. Como estaremos em um feriado
                    sugerimos reservar
                    logo, se esta for a sua opção.</p>
                  <p>Serviços &mdash; Sem café da manhã, Wifi incluso, Ar em todos os Quartos</p>
                  <p>Preço &mdash; $$$</p>
                  <p>Endereço &mdash; Rua da Consolação, 2303</p>
                  <p><a href="https://bit.ly/2U2KghU">Link para Reserva</a></p>
                </div>
                <div class="desc">
                  <h3>Ibis São Paulo Paulista</h3>
                  <p>Descrição &mdash; Hotel localizado no inicio da Av. Paulista com preços variaveis de acordo com a
                    procura. Como estaremos em um feriado sugerimos reservar
                    logo, se esta for a sua opção.</p>
                  <p>Serviços &mdash; Sem café da manhã, Wifi incluso, Ar em todos os Quartos</p>
                  <p>Preço &mdash; $$$</p>
                  <p>Endereço &mdash; Av. Paulista 2355</p>
                  <p><a href="https://bit.ly/2WbSk2z">Link para Reserva</a></p>
                </div>
                <div class="desc">
                  <h3>Paulista Center Hotel</h3>
                  <p>Descrição &mdash; Hotel casual, está a 2 minutos a pé da estação
                    de metrô Paulista. Os quartos têm decoração simples e dispõem de, TV, frigobar e ventilador de
                    teto.</p>
                  <p>Serviços &mdash; Com café da manhã, Wi-Fi mediante taxa, Ar somente em quartos de categoria alta.
                  </p>
                  <p>Preço &mdash; $</p>
                  <p>Endereço &mdash; Rua da Consolação 2567</p>
                  <p><a href="https://bit.ly/2QeVv5I">Link para Reserva</a></p>
                </div>
                <div class="desc">
                  <h3>Hotel Meliá Paulista</h3>
                  <p>Descrição &mdash; Hotel moderno fica a 8 minutos a pé do Museu de Arte de São Paulo e a 3,4 km da
                    Catedral de São Paulo.
                    Os quartos luxuosos e sofisticados incluem TVs com tela plana, acesso Wi-Fi gratuito e frigobares.
                    As suítes incluem máquinas de Nespresso e salas de estar separadas.</p>
                  <p>Serviços &mdash; Com café da manhã, Wifi incluso, Ar em todos os Quartos</p>
                  <p>Preço &mdash; $$$$$</p>
                  <p>Endereço &mdash; Av. Paulista, 2181</p>
                  <p><a href="https://bit.ly/2W9qgfY">Link para Reserva</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>






  </div>
  <!-- END fh5co-page -->

</div>
<!-- END fh5co-wrapper -->

<!-- Google Map -->
<!-- jQuery -->
<script src="dist/scripts.min2.js"></script>