<div id="fh5co-wrapper">
  <div id="fh5co-page">

    <div class="fh5co-hero" data-section="home">
      <div class="fh5co-overlay"></div>
      <div class="fh5co-cover text-center">
        <div class="display-t">
          <div class="display-tc">
            <div class="container">
              <div class="col-md-10 col-md-offset-1">
                <div class="animate-box">
                  <h1>Kel & Gui</h1>
                  <h2>Onde &amp; Quando</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <header id="fh5co-header-section" class="sticky-banner">
      <div class="container">
        <div class="nav-header">
          <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
          <h1 id="fh5co-logo"><a href="/index">Kel & Gui</a></h1>
          <!-- START #fh5co-menu-wrap -->
          <nav id="fh5co-menu-wrap" role="navigation">
            <ul class="sf-menu" id="fh5co-primary-menu">
              <li><a href="/index">Home</a></li>
              <li class="active"><a href="/when-where">Onde &amp; Quando</a></li>
              <li><a href="/gifts">Lista de Presentes</a></li>
              <li><a href="/RSVP">RSVP</a></li>
              <li><a href="/gallery">Fotos</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <!-- end:header-top -->


    <div id="fh5co-when-where" class="fh5co-section-gray">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box row-images">
            <h2>Hoteis Recomendados:</h2>
          </div>
        </div>
        <div class="row row-image row-bottom-padded-md2">
          <div class="row row-card-image">
            <div class="col-md-8 text-center animate-box">
              <div class="wedding-events">
                <div class="desc">
                  <h3>Ibis Budget Jardins</h3>
                  <p>Descrição &mdash; Hotel com preços variaveis de acordo com a procura. Como estaremos em um feriado
                    sugerimos reservar
                    logo, se esta for a sua opção.</p>
                  <p>Serviços &mdash; Sem café da manhã, Wifi incluso e Ar em todos os Quartos</p>
                  <p>Preço &mdash; $$$</p>
                  <p>Endereço &mdash; Avenida Nove de Julho, 3597</p>
                  <p><a href="https://bit.ly/3jLcx9P">Link para Reserva</a></p>
                </div>
                <div class="desc">
                  <h3>Ibis São Paulo Ibirapuera/h3>
                    <p>Descrição &mdash; Quartos acolhedores e bem decorados para casais e famílias. Opções de
                      escritório, fácil mobilidade, com ar condicionado, WIFI gratuito.
                      Proximo ao parque Ibirapuera</p>
                    <p>Serviços &mdash; Sem café da manhã, Wifi incluso e Ar em todos os Quartos</p>
                    <p>Preço &mdash; $$$</p>
                    <p>Endereço &mdash; Av. Santo Amaro, 1411</p>
                    <p><a href="https://bit.ly/3Ohk5iD">Link para Reserva</a></p>
                </div>
                <div class="desc">
                  <h3>Mercure Sao Paulo Vila Olimpia Hotel</h3>
                  <p>Descrição &mdash; O Mercure São Paulo Vila Olímpia está localizado numa zona repleta de bares e
                    restaurantes, com acesso muito fácil a locais como o Parque Ibirapuera, o Centro Comercial Vila
                    Olímpia e o Centro Gastronómico Eataly. </p>
                  <p>Serviços &mdash; Com café da manhã, Wi-Fi e Ar somente em quartos de categoria alta.
                  </p>
                  <p>Preço &mdash; $</p>
                  <p>Endereço &mdash; Rua Santa Justina, 210 </p>
                  <p><a href="https://bit.ly/3JQJDQ6">Link para Reserva</a></p>
                </div>
                <div class="desc">
                  <h3>Grand Mercure Sao Paulo Vila Olimpia</h3>
                  <p>Descrição &mdash; Hotel bonito, bem localizado. Quarto espaçoso, boa área para quem precisa
                    trabalhar no quarto. Pet Friendly.
                  </p>
                  <p>Serviços &mdash; Com café da manhã, Wifi incluso, Ar em todos os Quartos e Pet Friendly
                  </p>
                  <p>Preço &mdash; $$$</p>
                  <p>Endereço &mdash; Rua das Olimpiadas, 205</p>
                  <p><a href="https://bit.ly/3OhYPJv">Link para Reserva</a></p>
                </div>
                <div class="desc">
                  <h3>Pullman Sao Paulo Vila Olimpia</h3>
                  <p>Descrição &mdash; O hotel Pullman São Paulo Vila Olímpia é a melhor opção no coração do centro
                    empresarial da cidade.
                    Com fácil acesso ao Aeroporto de Congonhas e a poucos minutos do shopping,
                    reúne design.
                    Os quartos sofisticados incluem TVs com tela plana, acesso Wi-Fi gratuito e frigobares.
                  </p>
                  <p>Serviços &mdash; Com café da manhã, Wifi incluso e Ar em todos os Quartos</p>
                  <p>Preço &mdash; $$$$$</p>
                  <p>Endereço &mdash; R. Olimpíadas, 205 </p>
                  <p><a href="https://bit.ly/3EsE0qn">Link para Reserva</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>






  </div>
  <!-- END fh5co-page -->

</div>
<!-- END fh5co-wrapper -->

<!-- Google Map -->
<!-- jQuery -->
<script src="dist/scripts.min2.js"></script>