<div id="fh5co-wrapper">
	<div id="fh5co-page">

		<div class="fh5co-hero" data-section="home">
			<div class="fh5co-overlay"></div>
			<div class="fh5co-cover text-center">
				<div class="display-t">
					<div class="display-tc">
						<div class="container">
							<div class="col-md-10 col-md-offset-1">
								<div class="animate-box">
									<h1>Kel & Gui</h1>
									<h2>Lista de Presentes</h2>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<header id="fh5co-header-section" class="sticky-banner">
			<div class="container">
				<div class="nav-header">
					<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
					<h1 id="fh5co-logo"><a href="/index">Kel & Gui</a></h1>
					<!-- START #fh5co-menu-wrap -->
					<nav id="fh5co-menu-wrap" role="navigation">
						<ul class="sf-menu" id="fh5co-primary-menu">
							<li><a href="/index">Home</a></li>
							<li><a href="/when-where">Onde &amp; Quando</a></li>
							<li class="active"><a href="/gifts">Lista de Presentes</a></li>
							<li><a href="/RSVP">RSVP</a></li>
							<li><a href="/gallery">Fotos</a></li>

						</ul>
					</nav>
				</div>
			</div>
		</header>

		<!-- end:header-top -->


		<div id="fh5co-guest">
			<div class="container">
				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2 text-center heading-section">
						<h2>Lista de Presentes</h2>
					</div>
				</div>
				<div class="row row-bottom-padded-lg row-images">
					<div class="row row-tables1">
						<h1>Pagamento Realizado com Sucesso!</h1>
					</div>
					<form method="POST" id="form-rsvp" action="/msgsucess">
						<div id="form-input">
							<div class="form-group form-g">
								<div class="row row-tables1">
									<h1>Deixar Mensagem para os Noivos:</h1>
								</div>
							</div>
							<div class="form-group form-g">
								<div class="row row-tables1">
									<input type="text" class="form-control " placeholder="Nome" name="name" required>
								</div>
							</div>
							<div class="form-group form-g">
								<div class="row-tables1">
									<input type="text" size="700" class="form-control text-form-large" placeholder="Mensagem"
										name="message" required>
								</div>
							</div>
						</div>
						<div class="form-group form-g-submit">
							<button type="submit" class="btn btn-primary" id="btn-submit">Enviar</button>
						</div>
				</div>
				</form>
			</div>
		</div>
	</div>
</div>




</div>
<!-- END fh5co-page -->

</div>