	<div id="fh5co-wrapper">
		<div id="fh5co-page">

			<div class="fh5co-hero" data-section="home">
				<div class="fh5co-overlay"></div>
				<div class="fh5co-cover text-center">
					<div class="display-t">
						<div class="display-tc">
							<div class="container">
								<div class="col-md-10 col-md-offset-1">
									<div class="animate-box">
										<h1>Kel & Gui</h1>
										<h2>Onde &amp; Quando</h2>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<header id="fh5co-header-section" class="sticky-banner">
				<div class="container">
					<div class="nav-header">
						<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
						<h1 id="fh5co-logo"><a href="/index">Kel & Gui</a></h1>
						<!-- START #fh5co-menu-wrap -->
						<nav id="fh5co-menu-wrap" role="navigation">
							<ul class="sf-menu" id="fh5co-primary-menu">
								<li><a href="/index">Home</a></li>
								<li class="active"><a href="when-where">Onde &amp; Quando</a></li>
								<li><a href="gifts">Lista de Presentes</a></li>
								<li><a href="RSVP">RSVP</a></li>
								<li><a href="gallery">Fotos</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</header>

			<!-- end:header-top -->


			<div id="fh5co-when-where" class="fh5co-section-gray">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box row-images">
							<h2>Onde &amp; Quando</h2>
						</div>
					</div>
					<div class="row row-bottom-padded-md2">
						<div class="col-md-6 text-center animate-box">
							<div class="wedding-events">
								<div class="ceremony-bg" style="background-image: url(images/wed-ceremony.jpg);"></div>
								<div class="desc">
									<h3>Casa Quintal</h3>
									<p><strong>11 de Junho de 2020, Quinta-Feira 16:00 @ Casa Quintal</strong></p>
									<p>A Casa Quintal é um espaço rustico que abriga uma linda área a céu aberto, teto de vidro retrátil e jabuticabeiras.
										A casa tem um toque antigo e contemporâneo ao mesmo tempo.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="row row-map  row-images">
						<div class="col-md-12 row-images">
							<iframe class="mapa-casa"
								src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.4437763158935!2d-46.660329312231596!3d-23.552500070246953!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce582e026b8657%3A0x9a8009879cba331c!2sCasa%20Quintal!5e0!3m2!1spt-BR!2sbr!4v1579379718461!5m2!1spt-BR!2sbr"
								width="800" height="600" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
						</div>
					</div>
				</div>
			</div>






		</div>
		<!-- END fh5co-page -->

	</div>
	<!-- END fh5co-wrapper -->

	<!-- Google Map -->
	<!-- jQuery -->
	<script src="dist/scripts.min2.js"></script>
